<a href="{{ product.url }}" class="product-card">

  <div class="product-image-hover">

    {% if product.images.size > 1 %}

      {{
        product.images[0]
        | image_url: width: 1000
        | image_tag:
        class: 'primary-image'
      }}

      {{
        product.images[1]
        | image_url: width: 1000
        | image_tag:
        class: 'secondary-image'
      }}

    {% else %}

      {{
        product.featured_image
        | image_url: width: 1000
        | image_tag:
        class: 'primary-image'
      }}

    {% endif %}

  </div>

  <div class="product-info">

    <h3>{{ product.title }}</h3>

    <p>{{ product.price | money }}</p>

  </div>

</a>